config VIDEO_OMAP2_VOUT
	tristate "OMAP2/OMAP3/OMAP4 V4L2-Display driver"
	depends on ARCH_OMAP2 || ARCH_OMAP3 || ARCH_OMAP4
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG if ARCH_OMAP4
	select VIDEOBUF_DMA_SG if ARCH_OMAP3
	select OMAP2_DSS
	select OMAP2_VRAM
	default n
	---help---
	  V4L2 Display driver support for OMAP2/3/4 based boards.

config OMAP2_VRFB
	bool
	depends on ARCH_OMAP2 || ARCH_OMAP3
	default y if VIDEO_OMAP2_VOUT
	help
	  VRFB used in V4L2 in OMAP2,3

config OMAP3_ISP_RESIZER_ON_OVERLAY
	bool "ISP resizer used in V4L2 in OMAP3 (EXPERIMENTAL)"
	depends on EXPERIMENTAL && VIDEO_OMAP34XX_ISP_RESIZER
	default n
	help
	  Use ISP resizer on overlay instead of DSS resizer.
	  Could increase performance of playing 720p clip but,
	  have some issues when record 720p with camera.
