config VIDEO_OMAP2_VOUT
	tristate "OMAP2/OMAP3/OMAP4 V4L2-Display driver"
	depends on ARCH_OMAP2 || ARCH_OMAP3 || ARCH_OMAP4
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG
	select OMAP2_DSS
	select OMAP2_VRAM
	default n
	---help---
	  V4L2 Display driver support for OMAP2/3/4 based boards.

config OMAP2_VRFB
	bool
	depends on ARCH_OMAP2 || ARCH_OMAP3
	default y if VIDEO_OMAP2_VOUT
	help
	  VRFB used in V4L2 in OMAP2,3
