#
# Thermal governor driver config
#

config OMAP_DIE_GOVERNOR
	bool "OMAP On Die thermal governor support"
	depends on THERMAL_FRAMEWORK && OMAP_THERMAL
	help
	  This is the governor for the OMAP4 On-Die temperature sensor.
	  This governer will institute the policy to call specific
	  cooling agents.
