#
# Thermal governor driver config
#
config OMAP_DIE_GOVERNOR
	bool "OMAP On Die thermal governor support"
	depends on OMAP_THERMAL
	help
	  This is the governor for the OMAP4 and OMAP5 On-Die
	  temperature sensors.
	  This governer will institute the policy to call specific
	  cooling agents.

config CASE_TEMP_GOVERNOR
	bool "Case thermal governor support"
	depends on OMAP_THERMAL
	help
	  This is the governor for the Case temperature sensor.
	  This governer will institute the policy to call specific
	  cooling agents.
