CONFIG_MACH_OMAP_4430_KC1=y
CONFIG_OTTER=y
CONFIG_CMDLINE="mem=512M androidboot.selinux=permissive newbootargs"
CONFIG_CMDLINE_FROM_BOOTLOADER=y
# CONFIG_CMDLINE_EXTEND is not set

#
# Drivers
#
# CONFIG_TI_ST is not set
# CONFIG_INPUT_KEYRESET is not set
CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_TOUCHSCREEN_ILITEK_SWAP_XY=y
CONFIG_TOUCHSCREEN_ILITEK_FLIP_Y=y
CONFIG_INPUT_BMA250=y
CONFIG_INPUT_STK_ALS22x7=y
CONFIG_STK_ALS_CHANGE_THRESHOLD=20
CONFIG_STK_ALS_SAMPLING_RATE=10
CONFIG_STK_ALS_TRANSMITTANCE=500
CONFIG_CM_ALS_TRANSMITTANCE=169
CONFIG_INPUT_TWL6030_PWRBUTTON=y
CONFIG_SUMMIT_SMB347_Q=y
CONFIG_BATTERY_BQ27541_Q=y
CONFIG_SENSORS_LM75=y

#
# USB Host Controller Drivers
#
# CONFIG_USB_EHCI_HCD is not set

#
# MMC
#
# CONFIG_MMC_PARANOID_SD_INIT is not set

#
# Leds
#
CONFIG_LEDS_OMAP4430_SDP_DISPLAY=y
CONFIG_LEDS_OMAP4430_SDP_KEYPAD=y
CONFIG_LEDS_OMAP_PWM=y

# Display
CONFIG_OMAP2_DSS_DPI=y
CONFIG_PANEL_OTTER1=y
CONFIG_BACKLIGHT_GENERIC=y

# Sound
CONFIG_SND_OMAP_SOC_RY_AIC3110=y
# CONFIG_SND_OMAP_SOC_ABE_DL2 is not set
CONFIG_SND_OMAP4_ABE_USE_ALT_FW=y
CONFIG_SND_SOC_AIC3110=y

#
# Security options
#
# CONFIG_SECURITY_MIDDLEWARE_COMPONENT is not set
