#
# SenseTek I2C sensors drivers configuration
#
# Copyright (C) SenseTek/Sitronix 2010
# Patrick Chang patrick_chang@sitronix.com.tw

config SENSETEK_I2C_SENSORS
	bool "SenseTek I2C Sensors"
	depends on I2C
	help
	  Say Y here, and a list of miscellaneous sensor drivers will be displayed.
	  Everything that didn't fit into the other categories is here. This option
	  doesn't affect the kernel.

	  If unsure, say Y.

if SENSETEK_I2C_SENSORS

config STK_OPTICAL_SENSOR

	bool "SenseTek Optical Sensors"
	help
	  Say Y here, if you need ALS or PS+ALS.
if STK_OPTICAL_SENSOR
choice
prompt "SenseTek Optical Sensor Type"
default STK_PS
depends on STK_OPTICAL_SENSOR
config STK_ALS
	bool "Only SenseTek Ambient Light Sensor Generic Driver"
	help
	  Choice this if you want to enable SenseTek ALS.
	  ALS only, no proximity sensor.

config STK_PS
	bool "SenseTek Ambient Light Sensor + Proximity Sensor Generic Driver"
	---help---
	  Both support PS and ALS

endchoice

choice
depends on STK_PS
prompt "PS Driver Mode"
default STK_PS_SWITCH_MODE

config STK_PS_DISTANCE_MODE
	bool "Polling + Distance Mode"
	---help---
	Use polling thread to detect distance.
	Driver will report "distance"(uint : 10um) as input event

config STK_PS_SWITCH_MODE
	bool "Polling + Switch Mode"
	---help---
	Use polling thread to detech near or far.
	Driver will report "Near or Far" as input event

config STK_PS_INT_MODE
	bool "Interrupt + Switch Mode"
	---help---
	Use IC internal interrupt function to detect near or far.
	Becareful, please don't forget to connect your INT-pin to the chip and
	assign the correct IRQ number in your machine setting.
endchoice

choice
depends on STK_ALS
prompt "Select Sensor Model"
default STK_ALS_GENERIC
config STK_ALS_GENERIC
	bool "STK2201/2203"
	---help---
	Support for STK2201 and STK2203 (Generic)

config STK_ALS22x7
	bool "STK2207/2217"
	---help---
	Support for STK2207 and STK2217

endchoice

choice
depends on STK_ALS_GENERIC
prompt "Select I2C Slave Address"
default STK_ALS_SAHS_FLOAT
config STK_ALS_SAHS_FLOAT
	bool "SAHS is floating (0x20)"
	---help---
	0x20

config STK_ALS_SAHS_PULL_LOW
	bool "SAHS is pulling low (0x70)"
	---help---
	0x70

config STK_ALS_SAHS_PULL_HIGH
	bool "SAHS is pulling high (0x90)"
	---help---
	0x90

endchoice

choice
depends on STK_PS
prompt "Select I2C Slave Address"

config STK_PS_0x90
	bool "STK 3128 ADDR is conntect to GND or STK3101_90(0x90)"
	---help---
	0x90

config STK_PS_0xB0
	bool "STK 3128 ADDR is conntect to VDD or STK3101_B0(0xB0)"
	---help---
	0xB0

endchoice

config STK_PS_ALS_USE_CHANGE_THRESHOLD
    bool "Do NOT use lux look up-table for interrupt"
    depends on STK_PS_INT_MODE
    ---help---
    Check this if you want get more fine signal for light sensor.


config STK_ALS_CHANGE_THRESHOLD
	int "ALS Change Threshold (Lux)"
	depends on (STK_ALS||STK_PS_DISTANCE_MODE||STK_PS_SWITCH_MODE||STK_PS_ALS_USE_CHANGE_THRESHOLD)
	default "20"
	---help---
	  To determine the data will be returned or not. (in read() )
	  If difference >= Change Threshold ==>  the data will be returned
	  If difference <  Change Threshold ==>  retrun 0 bytes

config STK_ALS_SAMPLING_RATE
	int "ALS Sampling rate for internal data polling (HZ)"
	depends on (STK_ALS||STK_PS_DISTANCE_MODE||STK_PS_SWITCH_MODE)
	default "10"
	---help---
	  Depending on your r_set and IT.
	  If unsured, please use the default value (10).
config STK_PS_SAMPLING_RATE
	int "PS Sampling rate for internal data polling (HZ)"
	depends on (STK_PS_DISTANCE_MODE||STK_PS_SWITCH_MODE)
	default "50"
	---help---
	  Depending on PS_IT and PS_SLP.
	  Higher sampling rate will not gain any benefit, but more power consumption.
	  (But for ARM-base system, it is too little to be able to ignore it.


config STK_PS_CHANGE_THRESHOLD_NEAR
	int "Proximity sensor change threshold @ SHORT DISTANCE (UINT : 10um)"
	depends on STK_PS_DISTANCE_MODE
	default "400"
	---help---
	Default : 400 (means 0.4cm)

config STK_PS_CHANGE_THRESHOLD_MID
	int "Proximity sensor change threshold @ MID DISTANCE(UINT : 10um)"
	depends on STK_PS_DISTANCE_MODE
	default "800"
	---help---
	Default : 800 (means 0.8cm)

config STK_PS_CHANGE_THRESHOLD_FAR
	int "Proximity sensor change threshold @ LONG DISTANCE (UINT : 10um)"
	depends on STK_PS_DISTANCE_MODE
	default "4000"
	---help---
	Default : 4000 (means 4cm)

config STK_PS_DISTANCE_HIGH_THRESHOLD
	int "Proximity sensor high threshold (far) (UINT : 10um)"
	depends on (STK_PS_DISTANCE_MODE || STK_PS_SWITCH_MODE)
### 9 cm
	default "9000"
	---help---
	Default 9000, it means 9cm

config STK_PS_DISTANCE_LOW_THRESHOLD
	int "Proximity sensor low (near) threshold (UINT : 10um)"
	depends on (STK_PS_DISTANCE_MODE || STK_PS_SWITCH_MODE)
### 5 cm
	default "5000"
	---help---
	Default 5000, it means 5cm

config STK_PS_CODE_LOW_THRESHOLD
	int "Proximity sensor low (far) threshold (uint : code)"
	depends on STK_PS_INT_MODE
	default "40"
	---help---
	If ps_code < LOW_THD, it will trig interrupt.
	Default value = 40, and it is able to modify in ENG/DBG mode.

config STK_PS_CODE_HIGH_THRESHOLD
	int "Proximity sensor high (near) threshold (uint : code)"
	depends on STK_PS_INT_MODE
	default "150"
	---help---
	If ps_code > HIGH_THD, it will trig interrupt.
	Default value = 150, and it is able to modify in ENG/DBG mode.

choice
depends on STK_PS
prompt "PS Sleep Time"
default STK_PS_SLP01
config STK_PS_SLP00
	bool "Sleep Time = 10ms (SLP = 00)"
config STK_PS_SLP01
	bool "Sleep Time = 30ms (SLP = 01)"
config STK_PS_SLP10
	bool "Sleep Time = 90ms (SLP = 10)"
config STK_PS_SLP11
	bool "Sleep Time = 270ms (SLP = 11)"
endchoice


choice
depends on STK_PS
prompt "PS Integral Time"
default STK_PS_IT00
config STK_PS_IT00
	bool "Sleep Time = 200us (IT = 00)"
config STK_PS_IT01
	bool "Sleep Time = 300us (IT = 01)"
config STK_PS_IT10
	bool "Sleep Time = 400us (IT = 10)"
config STK_PS_IT11
	bool "Sleep Time = 500us (IT = 11)"
endchoice

choice
depends on STK_PS
prompt "PS IR-LED Driving Current"
default STK_PS_IRDR0
config STK_PS_IRDR0
	bool "Driving Current = 100mA (IRDR = 00)"
config STK_PS_IRDR1
	bool "Driving Current = 200mA (IRDR = 01)"
endchoice

config STK_PS_GAIN_SETTING
	hex "Proximity sensor Gain Setting"
	depends on STK_PS
	default "0x08"
	---help---
	0x0f~0x0f (See Reg81h Setting in Manual)
	If you don't understand this, please let it set to default value (0x08).

config STK_ALS_TRANSMITTANCE
	int "Transmittance (1/10,000)"
	depends on (STK_ALS||STK_PS)
	default "500"
	---help---
	 Depending on your cover lens and coating
 	 If unsured, please use the default value (500)
 	 500 means 5%

config CM_ALS_TRANSMITTANCE
	int "CM3263 Transmittance (1/10,000)"
	depends on (STK_ALS22x7)
	default "169"
	---help---
	Usually, this setting will be 1/4 of STK 2207 

config STK_SYSFS_DBG
    bool "Enable STK Optical Sensor Engineering Mode"
    depends on (STK_ALS||STK_PS)
    default n
    ---help---
    Provide serveral nodes to debug/tune performance or calbriate.
    It will be mounted on /sys/devices/platform/stk-oss/DBG.

config STK_ALS_TRANSMITTANCE_TUNING
    depends on ((STK_ALS || STK_PS) && STK_SYSFS_DBG)
    bool "Enable STK ALS Transmittance Tuning"
    default n
    ---help---
    Provide a node on SYSFS to tune transmittance parameter to meet you mech.
    Usually, you should enable this fuction during the enginner testing period.
    And turn off this fuction in retail/release version.

config STK_PS_ENGINEER_TUNING
    depends on (STK_PS && STK_SYSFS_DBG)
    bool "Enable STK PS Engineer Tuning"
    default n
    ---help---
    Mount a node on SYSFS to tune proximity sensor's parameter to meet you mech.
    Usually, you should enable this fuction during the enginner testing period.
    And turn off this fuction in retail/release version.

endif # STK_OPTICAL_SENSOR

config STK_SHOW_INFO
    bool "Enable Show Info"
    default y
    ---help---
    For debug

endif # SENSETEK_I2C_SENSORS
