#
# Miscellaneous I2C chip drivers configuration
#

menu "Miscellaneous I2C Chip support"

config BOSCH_BMA250
	tristate "BMA250 acceleration sensor support"
	depends on I2C=y
	default y
	help
	  If you say yes here you get support for Bosch Sensortec's 
	  acceleration sensors BMA250.


if BOSCH_BMA250

config BOSCH_BMA250_INT
	bool "BMA250 interrupt mode"
	help
	  Say Y here, if you wanna use the interrupt mode rather than the polling mode.

endif # STK_OPTICAL_SENSOR
endmenu
