config TF_ZEBRA
	bool

config TF_CRYPTO_RNG
	tristate "Use OMAP4 HW RNG"
	depends on ARCH_OMAP4 && m
	select SECURITY_MIDDLEWARE_COMPONENT
	default n
	help
	  This option enables OMAP4 HW RNG support.

	  If you are unsure how to answer this question, answer N.

config SECURITY_MIDDLEWARE_COMPONENT
	tristate "Enable SMC Driver"
	depends on ARCH_OMAP3 || ARCH_OMAP4
	default n
	select TF_ZEBRA
        select CRYPTO_SHA1 if ARCH_OMAP4
	help
	  This option adds kernel support for communication with the SMC
	  Protected Application.

	  If you are unsure how to answer this question, answer N.

config SMC_KERNEL_CRYPTO
	bool "Register SMC into kernel crypto subsytem"
	depends on SECURITY_MIDDLEWARE_COMPONENT
	default n
	help
	  This option enables crypto subsystem to use SMC and OMAP hardware
	  accelerators.

	  If you are unsure how to answer this question, answer N.

config SECURE_TRACE
	bool "Enable SMC secure traces"
	depends on SECURITY_MIDDLEWARE_COMPONENT && ARCH_OMAP4
	default y
	help
	  This option enables traces from the SMC Protected Application to be
	  displayed in kernel logs.

	  If you are unsure how to answer this question, answer Y.

config TF_DRIVER_DEBUG_SUPPORT
	bool "Debug support"
	depends on SECURITY_MIDDLEWARE_COMPONENT
	default n
	help
	  This options enables debug traces in the driver.

	  If you are unsure how to answer this question, answer N.

config TF_DRIVER_CRYPTO_FIPS
	bool "FIPS compliance support"
	depends on SMC_KERNEL_CRYPTO && ARCH_OMAP4 && MODULE_EXTRA_COPY
	default n
	help
          This option enables features for FIPS certification of the SMC
          cryptographic driver: built-in test vectors for POST, and a
          device for user space programs to submit more test vectors.

          If you are unsure how to answer this question, answer N.

config TF_DRIVER_FAULT_INJECTION
	bool "Fault injection support"
	depends on TF_DRIVER_CRYPTO_FIPS && ARCH_OMAP4
	default n
	help
	  This option allows forcing cryptographic operations in the SMC
	  driver to fail.

	  If you are unsure how to answer this question, answer N.
