#
# Generic Thermal Framework drivers configuration
#

menuconfig THERMAL_FRAMEWORK
	bool "Thermal Framework support"
	default y
	help
	  This is a generic thermal framework which will be used as
	  a central hub for sensors, governors and cooling devices
	  to register and pass data to.


config THERMAL_FRAMEWORK_DEBUG
	bool "Thermal Framework Debug support"
	depends on THERMAL_FRAMEWORK && DEBUG_FS
	default n
	help
	  Say 'Y' here if you want to have the debugfs support for
	  the Thermal Framework. The debugfs support will create
	  debug files under DEBUG_FS to represent the thermal
	  components, e.g. thermal domains, governors, sensors and
	  cooling devices and their attributes.

source "drivers/staging/thermal_framework/Kconfig.omap_thermal"

source "drivers/staging/thermal_framework/Kconfig.duty_cycle"

