#
# Generic Thermal Framework drivers configuration
#

menuconfig THERMAL_FRAMEWORK
	bool "Thermal Framework support"
	help
	  This is a generic thermal framework which will
	  be used as a central hub for sensors, governors
	  and cooling devices to register and pass data
	  to them.

config OMAP_THERMAL
	bool "OMAP Thermal Framework support"
	help
	  This is the thermal framework support for OMAP4
	  processors.

source "drivers/staging/thermal_framework/governor/Kconfig"
