menu "Remoteproc drivers (EXPERIMENTAL)"

# REMOTEPROC gets selected by whoever wants it
config REMOTEPROC
	tristate
	depends on EXPERIMENTAL
	select FW_CONFIG
	select VIRTIO

config REMOTEPROC_USE_CARVEOUT
	bool "Use carveout memory within remoteproc"
	default n
	help
	  Say Y here if you want to use carveout memory in remoteproc.

	  This option controls the memory allocation mechanism the remoteproc
	  driver will use for its firmware sections. Enabling this option will
	  rely on a carveout memory pool supplied to the remoteproc driver
	  through the platform data.

	  Leave it as n if you want to use the default CMA mechanism.

# OMAP_REMOTEPROC depends on selection of IPU or DSP instances
config OMAP_REMOTEPROC
	tristate "OMAP remoteproc support"
	depends on EXPERIMENTAL
	depends on ARCH_OMAP4
	depends on OMAP_IOMMU
	depends on OMAP_REMOTEPROC_IPU || OMAP_REMOTEPROC_DSP
	select REMOTEPROC
	select OMAP_MBOX_FWK
	select RPMSG
	help
	  Support for OMAP's remote processors (dual M3
	  and DSP on OMAP4) via the remote processor framework.

	  Currently only supported on OMAP4.

	  It gets selected by DSP or IPU OMAP_REMOTEPROC instances,
	  in order to enable multimedia use-cases to run on your platform
	  (multimedia codecs are offloaded to remote DSP processors using
	  this framework).

config OMAP_REMOTEPROC_IPU
	bool "OMAP remoteproc support for IPU"
	help
	  Say Y here if you want to enable OMAP's IPU remote processor.

	  This option controls only the dual M3 processor sub-system. You
	  would want to say y here usually, as this is the sub-system where
	  typically video & imaging codec control s/w is offloaded.

	  It's safe to say n here if you're not interested in multimedia
	  offloading (by IPU) or just want a bare minimum kernel.

config OMAP_REMOTEPROC_DSP
	bool "OMAP remoteproc support for DSP"
	help
	  Say Y here if you want to enable OMAP's DSP remote processor.

	  This option controls only the DSP processor sub-system. DSP would
	  typically be used to offload audio codecs or other advanced
	  processing algorithms.

	  It's safe to say n here if you're not interested in offloading
	  audio or any other algorithm (by DSP) or just want a bare minimum kernel.

config OMAP_REMOTEPROC_WATCHDOG
	bool "OMAP remoteproc watchdog timer"
	depends on OMAP_REMOTEPROC
	default y
	help
	  Say Y here to enable watchdog timer for remote processors.

	  This option controls the watchdog functionality for the remote
	  processors in OMAP. Dedicated timers are used by the remote
	  processors and triggers the timer interrupt upon a watchdog
	  detection.

# Amount of CMA memory to reserve for OMAP's remoteproc sub-system.
# We need quite much. Fortunately, CMA makes sure this memory isn't
# wasted in case we're not loading the remote processors.
config OMAP4_IPU_CMA_SIZE_512MB
	hex "Cortex M3 physically contiguous memory pool size (in bytes)"
	depends on OMAP_REMOTEPROC_IPU
	default 0x2000000
	help
	  Allocate a specified size of physically contiguous memory (CMA)
	  for OMAP4's dual Cortex-M3 sub-system. Vast majority of this
	  memory isn't wasted in case the M3 sub-system isn't loaded.

config OMAP4_IPU_CMA_SIZE
	hex "Cortex M3 physically contiguous memory pool size (in bytes)"
	depends on OMAP_REMOTEPROC_IPU
	default 0x7000000
	help
	  Allocate a specified size of physically contiguous memory (CMA)
	  for OMAP4's dual Cortex-M3 sub-system. Vast majority of this
	  memory isn't wasted in case the M3 sub-system isn't loaded.

config OMAP5_IPU_CMA_SIZE_512MB
	hex "Cortex M4 physically contiguous memory pool size (in bytes)"
	depends on OMAP_REMOTEPROC_IPU
	default 0x2000000
	help
	  Allocate a specified size of physically contiguous memory (CMA)
	  for OMAP's dual M4 sub-system. Vast majority of this
	  memory isn't wasted in case the M4 sub-system isn't loaded.


config OMAP5_IPU_CMA_SIZE
	hex "Cortex M4 physically contiguous memory pool size (in bytes)"
	depends on OMAP_REMOTEPROC_IPU
	default 0xA400000
	help
	  Allocate a specified size of physically contiguous memory (CMA)
	  for OMAP's dual M4 sub-system. Vast majority of this
	  memory isn't wasted in case the M4 sub-system isn't loaded.

config OMAP_DSP_CMA_SIZE
	hex "Dsp physically contiguous memory pool size (in bytes)"
	depends on OMAP_REMOTEPROC_DSP
	default 0x700000
	help
	  Allocate a specified size of physically contiguous memory (CMA)
	  for OMAP's dsp sub-system. Vast majority of this
	  memory isn't wasted in case the Dsp sub-system isn't loaded.
endmenu
