#
# Thermal sensors driver config
#
config TMP102_SENSOR
	bool "TMP102 temp sensor support"
	depends on THERMAL_FRAMEWORK && I2C
	help
	  Enabling this config will give support for the tmp102
	  temp sensor.

config TMP006_SENSOR
	bool "TMP006 temp sensor support"
	depends on THERMAL_FRAMEWORK && OMAP_THERMAL && I2C
	help
	  Enabling this config will give support for the tmp006
	  temp sensor.

config OMAP5_THERMAL
	bool "Texas Instruments OMAP5 thermal support"
	depends on OMAP_BANDGAP
	depends on ARCH_OMAP5
	depends on THERMAL_FRAMEWORK
	help
	  If you say yes here you get thermal support for the Texas Instruments
	  OMAP5 SoC family. The current chip supported are:
	  - OMAP5430

	  This includes alert interrupts generation and also the TSHUT
	  support.
