#
# Thermal Temp sensor configuration
#

config OMAP4_DIE_TEMP_SENSOR
	bool "OMAP On-Die temp sensor support"
	depends on OMAP_THERMAL && OMAP_TEMP_SENSOR
	help
	  Enabling this config will give support for the on-die
	  temp sensor for the OMAP platform.

config OMAP4_PCB_SENSOR
	bool "OMAP PCB temp sensor support"
	depends on OMAP_THERMAL
	help
	  Enabling this config will give support for the pcb
	  temp sensor for the OMAP platform.

config OMAP4_TMP102_SENSOR
	bool "OMAP TMP102 temp sensor support"
	depends on OMAP_THERMAL
	help
	  Enabling this config will give support for the tmp102
	  temp sensor for the OMAP platform.
