#
# TI's shared transport line discipline and the protocol
# drivers (BT, FM and GPS)
#
menu "Texas Instruments shared transport line discipline"
config ST_FM
	tristate "fm driver for ST"
	depends on VIDEO_DEV
	select TI_ST
	help
	  This enables the FM driver for TI BT/FM/GPS combo devices
	  This makes use of shared transport line discipline core driver to
	  communicate with the FM core of the combo chip.

config ST_GPS
	tristate "gps driver for ST"
	select TI_ST
	help
	  This enables the GPS driver for TI WL128x BT/FM/GPS combo devices.
	  It will provide a character device for the TI GPS host software to
	  access the GPS core on the WL128x.
endmenu
