# Include EMP CAIF Physical drivers physical drivers
# sourced "drivers/net/caif/Kconfig"

# Some options here should be made platform dependent

menu "CAIF ZOOM2/ZOOM3/BLAZE low level physical drivers"
	depends on CAIF && MACH_OMAP_ZOOM2 || MACH_OMAP_ZOOM3 || ARCH_OMAP4

config CAIF_HSI_OMAP
	tristate "CAIF HSI OMAP driver"
	default n
	depends on ARCH_OMAP4
	---help---
	CAIF OMAP HSI driver using the OMAP HSI interface.

config CAIF_PHY_SPI
	tristate "CAIF SPI OMAP driver"
	default n
	depends on MACH_OMAP_ZOOM2 || MACH_OMAP_ZOOM3
	---help---
	The CAIF SPI driver for the omap platform

config CAIF_PHY_GPIO_AWR
	int "AWR GPIO pin"
	default "23"
	depends on CAIF_TTY && CAIF_TTY_PM
	---help---
	Output GPIO pin for the modem AWR signal.

config CAIF_PHY_GPIO_CWR
	int "CWR GPIO pin"
	default "156"
	depends on CAIF_TTY && CAIF_TTY_PM
	---help---
	Input GPIO pin for the modem CWR signal.

config CAIF_PHY_GPIO_SPI_SS
	int "SPI SS GPIO pin"
	default "159"
	depends on CAIF_PHY_SPI
	---help---
	GPIO pin for the modem SPI slave select signal.

config CAIF_PHY_GPIO_SPI_INT
	int "SPI INT GPIO pin"
	default "14"
	depends on CAIF_PHY_SPI
	---help---
	GPIO pin for the modem SPI interrupt signal.

endmenu
