menu "Rpmsg drivers (EXPERIMENTAL)"

# RPMSG always gets selected by whoever wants it
config RPMSG
	tristate
	select VIRTIO
	select VIRTIO_RING
	depends on EXPERIMENTAL

config RPMSG_RESMGR_FWK
	tristate
	depends on RPMSG
	---help---
	  Add a framework based on RPMSG to request and release
	  resources from a remote Processor. This generic layer
	  takes advantage of RPMSG to exchange messages with the
	  remote processor

	  If unsure, say N.

config RPMSG_RESMGR
	tristate "Resource Manager based on RPMSG"
	depends on RPMSG
	select RPMSG_RESMGR_FWK
	---help---
	  Add the request and release mechanisms for various resources
	  that can be made avaiable for the remote processors in an SoC.
	  The resource manager ensures aribitration of resources requests
	  from any remote processor within the SoC

	  If unsure, say N.

config OMAP_RPMSG_RESMGR
	tristate "OMAP rpmsg resource manager support"
	depends on ARCH_OMAP4 || ARCH_OMAP5
	depends on RPMSG
	select RPMSG_RESMGR
	---help---
	  Add OMAP SoC specific request and release OMAP resources
	  from a remote Processor. This extends the generic RPMSG_RESMGR
	  to support OMAP specific resources. Common resources requested by
	  a remote processor in the SoC include gptimers, sdma channels,
	  auxiliary clocks,etc.

	  If unsure, say N.

config RPMSG_OMX
	tristate "rpmsg OMX driver"
	depends on RPMSG
	---help---
	  An rpmsg driver that exposes OMX API to user space, in order to
	  allow multimedia applications to offload OMX processing to
	  remote processors.

	  If unsure, say N.

endmenu
