# Kconfig for OMAP3 ISP driver

config VIDEO_OMAP34XX_ISP_PREVIEWER
	tristate "OMAP ISP Previewer"
	depends on !ARCH_OMAP3410 && VIDEO_OMAP3

config VIDEO_OMAP34XX_ISP_RESIZER
	tristate "OMAP ISP Resizer"
	depends on !ARCH_OMAP3410 && VIDEO_OMAP3

config VIDEO_OMAP34XX_ISP_PREV2RESZ
	tristate "OMAP ISP Preview and Resizer"
	depends on !ARCH_OMAP3410 && VIDEO_OMAP3

config VIDEO_OMAP34XX_ISP_DEBUG_FS
	tristate "OMAP ISP debug file system support"
	depends on VIDEO_OMAP3 && DEBUG_FS
