/*
 * Copyright (C) 2013 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/*
 * Memory is reserved for ipu1 for rearview camera
 */
/memreserve/ 0x8E000000 0x1000000;
/memreserve/ 0xA0000000 0x1800000;

/include/ "dra7.dtsi"

/ {
	model = "TI DRA7";
	compatible = "ti,dra7-evm", "ti,dra7";

	cpus {
		cpu@0 {
			cpu0-supply = <&abb_mpu>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

	vmmc2_fixed: fixedregulator-mmc2 {
		compatible = "regulator-fixed";
		regulator-name = "vmmc2_fixed";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
	};

	vmmcwl_fixed: fixedregulator-mmcwl {
		compatible = "regulator-fixed";
		regulator-name = "vmmcwl_fixed";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio5 8 0>;	/* gpio5_8 */
		startup-delay-us = <70000>;
		enable-active-high;
	};

	wlcore {
		compatible = "wlcore";
		gpio = <135>;
	};

	ocp {
		gpu: gpu@0x56000000 {
			gpu-supply = <&abb_gpu>;
		};
	};

	vaudio_1v8: fixedregulator-vaudio-dig {
		compatible = "regulator-fixed";
		regulator-name = "vdac_fixed";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
	};

	vaudio_3v3: fixedregulator-vaudio-anlg {
		compatible = "regulator-fixed";
		regulator-name = "vdac_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
	};

	sound {
		compatible = "ti,dra7-evm-sound";
		ti,model = "dra7evm";
		ti,always-on;

		/* Audio routing */
		ti,audio-routing =
			"LINE1L", "Line In",
			"LINE1R", "Line In",
			"MIC3L", "Mic Bias 2V",
			"MIC3R", "Mic Bias 2V",
			"Mic Bias 2V", "Main Mic",
			"Headphone", "HPLOUT",
			"Headphone", "HPROUT",
			"Line Out", "LLOUT",
			"Line Out", "RLOUT",
			"J3A LINE1L", "JAMR3 Stereo Aux In",
			"J3A LINE1R", "JAMR3 Stereo Aux In",
			"J3B LINE1L", "JAMR3 Mono Mic 1",
			"J3B LINE1R", "JAMR3 Mono Mic 2",
			"JAMR3 Line Out 1", "J3A LLOUT",
			"JAMR3 Line Out 1", "J3A RLOUT",
			"JAMR3 Line Out 2", "J3B LLOUT",
			"JAMR3 Line Out 2", "J3B RLOUT",
			"JAMR3 Line Out 3", "J3C LLOUT",
			"JAMR3 Line Out 3", "J3C RLOUT";

		/* Media DAI link */
		ti,media-cpu = <&mcasp3>;
		ti,media-codec = <&tlv320aic3106>;
		ti,media-mclk-freq = <5644800>;
		ti,media-slots = <2>;

		/* Multichannel DAI link */
		ti,multichannel-cpu = <&mcasp6>;
		ti,multichannel-codec-a = <&tlv320aic3106a>;
		ti,multichannel-codec-b = <&tlv320aic3106b>;
		ti,multichannel-codec-c = <&tlv320aic3106c>;
		ti,multichannel-slots = <8>;
		ti,multichannel-mclk-freq = <11289600>;

		/* Bluetooth */
		ti,bt-cpu = <&mcasp7>;
		ti,bt-bclk-freq = <512000>;
	};

	sound_hdmi {
		compatible = "ti,omap-hdmi-tpd12s015-audio";
		ti,model = "OMAP5HDMI";
		ti,hdmi_audio = <&hdmi>;
		ti,level_shifter = <&tpd12s015>;
	};

	kim {
		compatible = "kim";
		nshutdown_gpio = <132>;
		dev_name = "/dev/ttyO2";
		flow_cntrl = <1>;
		baud_rate = <3686400>;
		gpios = <&pcf_lcd3 14 0>; /* pcf8575@21 P16 */
	};

	btwilink {
		compatible = "btwilink";
	};

	display_skipinit {
		skip_init =<1>;
	};
};

&dra7_pmx_core {
        pinctrl-names = "default";
        pinctrl-0 = <
		&atl_pins
		&mcasp3_pins
		&mcasp6_pins
		&mcasp7_pins
		&mcasp8_pins
		&vout1_pins
		&vout3_pins
		&vin1a_pins
		&usb_pins
		&irq_pins
		&bt_uart3_pins
		&wl_pins
		&wlirq_pins
	>;

	atl_pins: pinmux_atl_pins {
		pinctrl-single,pins = <
			0x298 0x00000005	/* xref_clk1.atl_clk1 OUTPUT | MODE5 */
			0x29c 0x00000005	/* xref_clk2.atl_clk2 OUTPUT | MODE5 */
		>;
	};

	mcasp3_pins: pinmux_mcasp3_pins {
		pinctrl-single,pins = <
			0x324 0x00000000	/* mcasp3_aclkx.mcasp3_aclkx OUTPUT | MODE0 */
			0x328 0x00000000	/* mcasp3_fsx.mcasp3_fsx OUTPUT | MODE0 */
			0x32c 0x00000000	/* mcasp3_axr0.mcasp3_axr0 OUTPUT | MODE0 */
			0x330 0x00040000	/* mcasp3_axr1.mcasp3_axr1 INPUT | MODE0 */
		>;
	};

	mcasp6_pins: pinmux_mcasp6_pins {
		pinctrl-single,pins = <
			0x2d4 0x00000001	/* mcasp1_axr8.mcasp6_axr0 OUTPUT | MODE1 */
			0x2d8 0x00040001	/* mcasp1_axr9.mcasp6_axr1 INPUT | MODE 1 */
			0x2dc 0x00000001	/* mcasp1_axr10.mcasp6_clkx OUTPUT | MODE1 */
			0x2e0 0x00000001	/* mcasp1_axr11.mcasp6_fsx OUTPUT | MODE1 */
		>;
	};

	mcasp7_pins: pinmux_mcasp7_pins {
		pinctrl-single,pins = <
			0x2e4 0x00040001	/* mcasp1_axr12.mcasp7_axr0 INPUT | MODE 1 */
			0x2e8 0x00000001	/* mcasp1_axr13.mcasp7_axr1 OUTPUT | MODE 1 */
			0x2ec 0x00040001	/* mcasp1_axr14.mcasp7_clkx INPUT | MODE1 */
			0x2f0 0x00040001	/* mcasp1_axr15.mcasp7_fsx INPUT | MODE1 */
		>;
	};

	mcasp8_pins: pinmux_mcasp8_pins {
		pinctrl-single,pins = <
			0x2fc 0x00040001	/* mcasp2_aclkr.mcasp8_axr2 OUTPUT | MODE1 */
		>;
	};

	irq_pins: pinmux_irq_pins {
                pinctrl-single,pins = <
			0x420	0x1	/* Wakeup2 INPUT | MODE1 */
                >;
        };

	usb_pins: pinmux_usb_pins {
                pinctrl-single,pins = <
			0x280	0xc0000	/* DRV1_VBUS SLEW | PULLDEN | MODE0 */
			0x284	0xc0000	/* DRV2_VBUS SLEW | PULLDEN | MODE0 */
                >;
        };

	i2c2_pins: pinmux_i2c2_pins {
                pinctrl-single,pins = <
			0x408	0x60000	/* i2c2_sda INPUT | MODE0 */
			0x40C	0x60000	/* i2c2_scl INPUT | MODE0 */
                >;
        };

	vout1_pins: pinmux_vout1_pins {
		pinctrl-single,pins = <
			0x1C8	0x0	/* vout1_clk OUTPUT | MODE0 */
			0x1CC	0x0	/* vout1_de OUTPUT | MODE0 */
			0x1D0	0x0	/* vout1_fld OUTPUT | MODE0 */
			0x1D4	0x0	/* vout1_hsync OUTPUT | MODE0 */
			0x1D8	0x0	/* vout1_vsync OUTPUT | MODE0 */
			0x1DC	0x0	/* vout1_d0 OUTPUT | MODE0 */
			0x1E0	0x0	/* vout1_d1 OUTPUT | MODE0 */
			0x1E4	0x0	/* vout1_d2 OUTPUT | MODE0 */
			0x1E8	0x0	/* vout1_d3 OUTPUT | MODE0 */
			0x1EC	0x0	/* vout1_d4 OUTPUT | MODE0 */
			0x1F0	0x0	/* vout1_d5 OUTPUT | MODE0 */
			0x1F4	0x0	/* vout1_d6 OUTPUT | MODE0 */
			0x1F8	0x0	/* vout1_d7 OUTPUT | MODE0 */
			0x1FC	0x0	/* vout1_d8 OUTPUT | MODE0 */
			0x200	0x0	/* vout1_d9 OUTPUT | MODE0 */
			0x204	0x0	/* vout1_d10 OUTPUT | MODE0 */
			0x208	0x0	/* vout1_d11 OUTPUT | MODE0 */
			0x20C	0x0	/* vout1_d12 OUTPUT | MODE0 */
			0x210	0x0	/* vout1_d13 OUTPUT | MODE0 */
			0x214	0x0	/* vout1_d14 OUTPUT | MODE0 */
			0x218	0x0	/* vout1_d15 OUTPUT | MODE0 */
			0x21C	0x0	/* vout1_d16 OUTPUT | MODE0 */
			0x220	0x0	/* vout1_d17 OUTPUT | MODE0 */
			0x224	0x0	/* vout1_d18 OUTPUT | MODE0 */
			0x228	0x0	/* vout1_d19 OUTPUT | MODE0 */
			0x22C	0x0	/* vout1_d20 OUTPUT | MODE0 */
			0x230	0x0	/* vout1_d21 OUTPUT | MODE0 */
			0x234	0x0	/* vout1_d22 OUTPUT | MODE0 */
			0x238	0x0	/* vout1_d23 OUTPUT | MODE0 */
		>;
	};

	vout3_pins: pinmux_vout3_pins {
		pinctrl-single,pins = <
			0x000	0x3	/*GPMC_AD0  = VOUT3_D0*/
			0x004	0x3	/*GPMC_AD1  = VOUT3_D1*/
			0x008	0x3	/*GPMC_AD2  = VOUT3_D2*/
			0x00c	0x3	/*GPMC_AD3  = VOUT3_D3*/
			0x010	0x3	/*GPMC_AD4  = VOUT3_D4*/
			0x014	0x3	/*GPMC_AD5  = VOUT3_D5*/
			0x018	0x3	/*GPMC_AD6  = VOUT3_D6*/
			0x01c	0x3	/*GPMC_AD7  = VOUT3_D7*/
			0x020	0x3	/*GPMC_AD8  = VOUT3_D8*/
			0x024	0x3	/*GPMC_AD9  = VOUT3_D9*/
			0x028	0x3	/*GPMC_AD10 = VOUT3_D10*/
			0x02c	0x3	/*GPMC_AD11 = VOUT3_D11*/
			0x030	0x3	/*GPMC_AD12 = VOUT3_D12*/
			0x034	0x3	/*GPMC_AD13 = VOUT3_D13*/
			0x038	0x3	/*GPMC_AD14 = VOUT3_D14*/
			0x03c	0x3	/*GPMC_AD15 = VOUT3_D15*/
			0x040	0x3	/*GPMC_A0   = VOUT3_D16*/
			0x044	0x3	/*GPMC_A1   = VOUT3_D17*/
			0x048	0x3	/*GPMC_A2   = VOUT3_D18*/
			0x04c	0x3	/*GPMC_A3   = VOUT3_D19*/
			0x050	0x3	/*GPMC_A4   = VOUT3_D20*/
			0x054	0x3	/*GPMC_A5   = VOUT3_D21*/
			0x058	0x3	/*GPMC_A6   = VOUT3_D22*/
			0x05c	0x3	/*GPMC_A7   = VOUT3_D23*/
			0x060	0x3	/*GPMC_A8   = VOUT3_HSYNC*/
			0x064	0x3	/*GPMC_A9   = VOUT3_VSYNC*/
			0x068	0x3	/*GPMC_A10  = VOUT3_DE*/
			0x06c	0x3	/*GPMC_A11  = VOUT3_FLD*/
			0x0bc	0x3	/*GPMC_CS3  = VOUT3_CLK*/
		>;
	};

	vin1a_pins: pinmux_vin1a_pins {
		pinctrl-single,pins = <
			0x0DC	0x00040000 /* vin1a_clk0 OUTPUT | MODE0 */
			0x0E4	0x00040000 /* vin1a_de0 OUTPUT | MODE0 */
			0x0E8	0x00040000 /* vin1a_fld0 OUTPUT | MODE0 */
			0x0EC	0x00040000 /* vin1a_hsync0	OUTPUT | MODE0 */
			0x0F0	0x00040000 /* vin1a_vsync0 OUTPUT | MODE0 */
			0x0F4	0x00040000 /* vin1a_d0	OUTPUT | MODE0 */
			0x0F8	0x00040000 /* vin1a_d1	OUTPUT | MODE0 */
			0x0FC	0x00040000 /* vin1a_d2	OUTPUT | MODE0 */
			0x100	0x00040000 /* vin1a_d3 	OUTPUT | MODE0 */
			0x104	0x00040000 /* vin1a_d4 	OUTPUT | MODE0 */
			0x108	0x00040000 /* vin1a_d5	OUTPUT | MODE0 */
			0x10C	0x00040000 /* vin1a_d6	OUTPUT | MODE0 */
			0x110	0x00040000 /* vin1a_d7	OUTPUT | MODE0 */
			0x114	0x00040000 /* vin1a_d8	OUTPUT | MODE0 */
			0x118	0x00040000 /* vin1a_d9	OUTPUT | MODE0 */
			0x11C	0x00040000 /* vin1a_d10	OUTPUT | MODE0 */
			0x120	0x00040000 /* vin1a_d11	OUTPUT | MODE0 */
			0x124	0x00040000 /* vin1a_d12	OUTPUT | MODE0 */
			0x128	0x00040000 /* vin1a_d13	OUTPUT | MODE0 */
			0x12C	0x00040000 /* vin1a_d14	OUTPUT | MODE0 */
			0x130	0x00040000 /* vin1a_d15	OUTPUT | MODE0 */
			0x134	0x00040000 /* vin1a_d16	OUTPUT | MODE0 */
			0x138	0x00040000 /* vin1a_d17	OUTPUT | MODE0 */
			0x13C	0x00040000 /* vin1a_d18	OUTPUT | MODE0 */
			0x140	0x00040000 /* vin1a_d19	OUTPUT | MODE0 */
			0x144	0x00040000 /* vin1a_d20	OUTPUT | MODE0 */
			0x148	0x00040000 /* vin1a_d21	OUTPUT | MODE0 */
			0x14C	0x00040000 /* vin1a_d22	OUTPUT | MODE0 */
			0x150	0x00040000 /* vin1a_d23	OUTPUT | MODE0 */
		>;
	};

	cpsw_default_pins: pinmux_cpsw_default_pins {
		pinctrl-single,pins = <
			/* Slave 1 */
			0x250	0x0 /* rgmii1_tclk PIN_OUTPUT | MUX_MODE0 */
			0x254	0x0 /* rgmii1_tctl PIN_OUTPUT | MUX_MODE0 */
			0x258	0x0 /* rgmii1_td3 PIN_OUTPUT | MUX_MODE0 */
			0x25c	0x0 /* rgmii1_td2 PIN_OUTPUT | MUX_MODE0 */
			0x260	0x0 /* rgmii1_td1 PIN_OUTPUT | MUX_MODE0 */
			0x264	0x0 /* rgmii1_td0 PIN_OUTPUT | MUX_MODE0 */
			0x268	0x00040000 /* rgmii1_rclk PIN_INPUT | MUX_MODE0 */
			0x26c	0x00040000 /* rgmii1_rctl PIN_INPUT | MUX_MODE0 */
			0x270	0x00040000 /* rgmii1_rd3 PIN_INPUT | MUX_MODE0 */
			0x274	0x00040000 /* rgmii1_rd2 PIN_INPUT | MUX_MODE0 */
			0x278	0x00040000 /* rgmii1_rd1 PIN_INPUT | MUX_MODE0 */
			0x27c	0x00040000 /* rgmii1_rd0 PIN_INPUT | MUX_MODE0 */

			/* Slave 2 */
			0x198	0x3 /* rgmii2_tclk PIN_OUTPUT | MUX_MODE3 */
			0x19c	0x3 /* rgmii2_tctl PIN_OUTPUT | MUX_MODE3 */
			0x1a0	0x3 /* rgmii2_td3 PIN_OUTPUT | MUX_MODE3 */
			0x1a4	0x3 /* rgmii2_td2 PIN_OUTPUT | MUX_MODE3 */
			0x1a8	0x3 /* rgmii2_td1 PIN_OUTPUT | MUX_MODE3 */
			0x1ac	0x3 /* rgmii2_td0 PIN_OUTPUT | MUX_MODE3 */
			0x1b0	0x00040003 /* rgmii2_rclk PIN_INPUT | MUX_MODE3 */
			0x1b4	0x00040003 /* rgmii2_rctl PIN_INPUT | MUX_MODE3 */
			0x1b8	0x00040003 /* rgmii2_rd3 PIN_INPUT | MUX_MODE3 */
			0x1bc	0x00040003 /* rgmii2_rd2 PIN_INPUT | MUX_MODE3 */
			0x1c0	0x00040003 /* rgmii2_rd1 PIN_INPUT | MUX_MODE3 */
			0x1c4	0x00040003 /* rgmii2_rd0 PIN_INPUT | MUX_MODE3 */
				>;
		};

	davinci_mdio_default_pins: pinmux_davinci_mdio_default_pins {
		pinctrl-single,pins = <
			/* MDIO */
			0x23c	0x30000 /* mdio_data PIN_OUTPUT_PULLUP | MUX_MODE0 */
			0x240	0x70000 /* mdio_clk PIN_INPUT_PULLUP | MUX_MODE0 */
				>;
		};

	bt_uart3_pins: pinmux_bt_uart3_pins {
		pinctrl-single,pins = <
			0x3c0 0x60001       /* uart3_rx.spi2_sclk:  INPUT | PULLUP | MODE 1 */
			0x3c4 0x1           /* uart3_tx.spi2.d1:    OUTPUT |  MODE 1 */
			0x3c8 0x40001       /* uart3_rts.spi2.c0:   OUTPUT | PULLUP | MODE 1 */
			0x3cc 0x60001       /* uart3_cts.spi2.d0:   INPUT | MODE 1 */
			0x2bc 0xE           /* BT_EN.gp5_4:         OUTPUT | MODE 14 */
		>;
	};

	wl_pins: pinmux_wl_pins {
		pinctrl-single,pins = <
			0x3e8 0x60003	/* MMC4_CLK: INPUTENABLE | PULLUP | MODE3 */
			0x3ec 0x60003	/* MMC4_CMD: INPUTENABLE | PULLUP | MODE3 */
			0x3f0 0x60003	/* MMC4_DAT0: INPUTENABLE | PULLUP | MODE3 */
			0x3f4 0x60003	/* MMC4_DAT1: INPUTENABLE | PULLUP | MODE3 */
			0x3f8 0x60003	/* MMC4_DAT2: INPUTENABLE | PULLUP | MODE3 */
			0x3fc 0x60003	/* MMC4_DAT3: INPUTENABLE | PULLUP | MODE3 */
			0x2cc 0x2000E	/* WLAN_EN: OUTPUT | MODE14 */
		>;
	};

	wlirq_pins: pinmux_wlirq_pins {
		pinctrl-single,pins = <
			0x2c8 0x106000E	/* WLAN_IRQ: INPUT | WAKEUP_ENABLE | MODE 14 */
		>;
	};

	dcan1_pins: pinmux_dcan1_pins {
		pinctrl-single,pins = <
			0x3d0	0x00000000	/* DCAN1_TX: MODE0 */
			0x3d4	0x00060000	/* DCAN1_RX: MODE0 | INPUTENABLE | PULLUP */
		>;
	};

	dcan2_pins: pinmux_dcan2_pins {
		pinctrl-single,pins = <
			0x288	0x00000002	/* DCAN2_TX: MODE2 */
			0x28C	0x00060002	/* DCAN2_RX: MODE2 | INPUTENABLE | PULLUP */
		>;
	};
};

&gmac {
	status="okay";
	pinctrl-names = "default";
	pinctrl-0 = <&cpsw_default_pins>;
	dual_emac = <1>;
};

&davinci_mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&davinci_mdio_default_pins>;
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <2>;
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <3>;
};

&i2c1 {
	clock-frequency = <400000>;

	tps659038: tps659038@58 {
		reg = <0x58>;
	};

	pcf_lcd: pcf8575@20 {
		compatible = "ti,pcf8575";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		/* HACK: Using n_latch in pcf8575 driver to "drive P10/11" to not hold ETH0/1 in reset */
		n_latch = <0xfcff>;
	};

	pcf_lcd3: pcf8575@21 {
		compatible = "ti,pcf8575";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		n_latch = <0x1408>;
	};

	/* TLC chip for LCD panel power and backlight */
	tlc59108: tlc59108@40 {
		compatible = "ti,tlc59108";
		reg = <0x40>;
		gpios = <&pcf_lcd 15 0>; /* P15, CON_LCD_PWR_DN */
	};

	tlv320aic3106: tlv320aic3106@18 {
		compatible = "ti,tlv320aic3x";
		reg = <0x18>;
		adc-settle-ms = <40>;
		IOVDD-supply = <&vaudio_3v3>;
		DVDD-supply = <&vaudio_1v8>;
		AVDD-supply = <&vaudio_3v3>;
		DRVDD-supply = <&vaudio_3v3>;
	};

	mXT244:mXT244@4a {
		reg = <0x4a>;
	};
};

/include/ "tps659038.dtsi"

&i2c2 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c2_pins>;

	clock-frequency = <400000>;

	pcf_hdmi: pcf8575@26 {
		compatible = "ti,pcf8575";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
		n_latch = <0xfffb>;
	};

	tlv320aic3106a: tlv320aic3106@18 {
		compatible = "ti,tlv320aic3x";
		reg = <0x18>;
		IOVDD-supply = <&vaudio_3v3>;
		DVDD-supply = <&vaudio_1v8>;
		AVDD-supply = <&vaudio_3v3>;
		DRVDD-supply = <&vaudio_3v3>;
	};

	tlv320aic3106b: tlv320aic3106@19 {
		compatible = "ti,tlv320aic3x";
		reg = <0x19>;
		IOVDD-supply = <&vaudio_3v3>;
		DVDD-supply = <&vaudio_1v8>;
		AVDD-supply = <&vaudio_3v3>;
		DRVDD-supply = <&vaudio_3v3>;
	};

	tlv320aic3106c: tlv320aic3106@1a {
		compatible = "ti,tlv320aic3x";
		reg = <0x1a>;
		IOVDD-supply = <&vaudio_3v3>;
		DVDD-supply = <&vaudio_1v8>;
		AVDD-supply = <&vaudio_3v3>;
		DRVDD-supply = <&vaudio_3v3>;
	};

	ov10633: ov10633@37 {
		compatible = "omnivision,ov10633";
		reg = <0x37>;

		camera_ov10633: camera_ov10633 {
			compatible = "ti,camera-ov10633";

			gpios = <&pcf_hdmi 2 0>,
				<&pcf_hdmi 3 0>,
				<&gpio4 13 0>,
				<&gpio4 14 0>,
				<&gpio4 15 0>,
				<&gpio4 16 0>,
				<&gpio6 17 0>;

			ovnode = <&i2c2>;
			sensor = "ov10633";
		};
	};

	ov10635: ov10635@30 {
		compatible = "omnivision,ov10635";
		reg = <0x30>;

		camera_ov10635: camera_ov10635 {
			compatible = "ti,camera-ov10635";

			gpios = <&pcf_hdmi 2 0>,
				<&pcf_hdmi 3 0>,
				<&gpio4 13 0>,
				<&gpio4 14 0>,
				<&gpio4 15 0>,
				<&gpio4 16 0>,
				<&gpio6 17 0>;

			ovnode = <&i2c2>;
			sensor = "ov10635";
		};
	};

	lvds_fpd: ds90uh925q@1b {
		compatible = "ti,ds90uh925q";
		reg = <0x1b>;
	};

	lvds_fpd1: ds90uh928q@2c {
		compatible = "ti,ds90uh928q";
		reg = <0x2c>;
	};
};

&i2c3 {
	clock-frequency = <400000>;
};

&i2c4 {
	clock-frequency = <400000>;
};

&i2c5 {
	clock-frequency = <400000>;
};

&dcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&dcan1_pins>;
	status = "okay";
};

&dcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&dcan2_pins>;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&ldo1_reg>;
	bus-width = <4>;
};

&mmc2 {
	vmmc-supply = <&vmmc2_fixed>;
	bus-width = <8>;
	ti,non-removable;
};

&mmc3 {
	bus-width = <8>;
	ti,non-removable;
	status = "disabled";
};

&mmc4 {
	vmmc-supply = <&vmmcwl_fixed>;
	bus-width = <4>;
	cap-power-off-card;
	keep-power-in-suspend;
	ti,non-removable;
};

&avs_mpu {
	avs-supply = <&smps123_reg>;
};

&avs_core {
	avs-supply = <&smps7_reg>;
};

&avs_gpu {
	avs-supply = <&smps6_reg>;
};

&avs_dspeve {
	avs-supply = <&smps45_reg>;
};

&avs_iva {
	avs-supply = <&smps8_reg>;
};

&dpi1 {
	lcd {
		compatible = "ti,tfc_s9700";
		tlc = <&tlc59108>;
		data-lines = <24>;
	};
};

&hdmi {
	vdda_hdmi_dac-supply = <&ldo3_reg>;
	tpd12s015: tpd12s015 {
		compatible = "ti,tpd12s015";

		gpios = <&pcf_hdmi 4 0>,	/* pcf8575@22 P4, CT_CP_HDP */
			<&pcf_hdmi 5 0>,	/* pcf8575@22 P5, LS_OE */
			<&gpio7 12 0>;		/* gpio7_12/sp1_cs2, HPD */

		hdmi_ddc = <&i2c2>;

		hdmi-monitor {
			compatible = "ti,hdmi_panel";
		};
	};
};

&dpi3 {
	fpdlink {
		compatible = "ti,lg101";
		gpios = <&pcf_lcd3 0 0>; /* pcf8575@21 P0, SEL_GPMC_AD_VID_S0 */
		data-lines = <24>;

		serializer = <&lvds_fpd>;
		dserializer = <&lvds_fpd1>;
	};
};

&mXT244 {
	compatible = "atmel,mXT244";
	interrupts = <0 119 0x4>;

	atmel,config = <
	/* MXT244_GEN_COMMAND(6) */
	0x00 0x00 0x00 0x00 0x00 0x00
	/* MXT244_GEN_POWER(7) */
	0x20 0xff 0x32
	/* MXT244_GEN_ACQUIRE(8) */
	0x0a 0x00 0x05 0x00 0x00 0x00 0x09 0x23
	/* MXT244_TOUCH_MULTI(9) */
	0x00 0x00 0x00 0x13 0x0b 0x00 0x00 0x00 0x02 0x00
	0x00 0x01 0x01 0x0e 0x0a 0x0a 0x0a 0x0a 0x00 0x00
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	0x00
	/* MXT244_TOUCH_KEYARRAY(15) */
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	0x00
	/* MXT244_COMMSCONFIG_T18(2) */
	0x00 0x00
	/* MXT244_SPT_GPIOPWM(19) */
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	0x00 0x00 0x00 0x00 0x00 0x00
	/* MXT244_PROCI_GRIPFACE(20) */
	0x07 0x00 0x00 0x00 0x00 0x00 0x00 0x50 0x28 0x04
	0x0f 0x0a
	/* MXT244_PROCG_NOISE(22) */
	0x05 0x00 0x00 0x00 0x00 0x00 0x00 0x03 0x23 0x00
	0x00 0x05 0x0f 0x19 0x23 0x2d 0x03
	/* MXT244_TOUCH_PROXIMITY(23) */
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	0x00 0x00 0x00 0x00 0x00
	/* MXT244_PROCI_ONETOUCH(24) */
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	/* MXT244_SPT_SELFTEST(25) */
	0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
	0x00 0x00 0x00 0x00
	/* MXT244_PROCI_TWOTOUCH(27) */
	0x00 0x00 0x00 0x00 0x00 0x00 0x00
	/* MXT244_SPT_CTECONFIG(28) */
	0x00 0x00 0x02 0x08 0x10 0x00 >;

	atmel,x_line = <18>;
	atmel,y_line = <12>;
	atmel,x_size = <800>;
	atmel,y_size = <480>;
	atmel,blen = <0x01>;
	atmel,threshold = <30>;
	atmel,voltage = <2800000>;
	atmel,orient = <0x4>;
};
&qspi {
	spi-max-frequency = <48000000>;
        m25p80@0 {
                compatible = "s25fl256s1";
                spi-max-frequency = <48000000>;
                reg = <0>;
		spi-cpol;
		spi-cpha;
	};
};
